:root{
  --primary-orange-400: hsl(25, 97%, 53%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-gray-100: hsla(217, 12%, 63%, 0.2);
  --neutral-gray-300: hsl(217, 12%, 63%);
  --neutral-gray-400: hsl(216, 12%, 54%);
  --neutral-blue-700: hsl(213, 19%, 18%);
  --neutral-blue-800: hsl(216, 12%, 8%);

  --body-font: 'Overpass', sans-serif;

  --fs-paragraph: 15px;

  --fw-normal: 400;
  --fw-bolder: 700;

}

*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body{
  line-height: 1.5;
  --webkit-font-smoothing: antialiased;
  font-family: var(--body-font);
  background-color: var(--neutral-blue-800);
}

img, picture, video, canvas, svg{
  display: block;
  max-width: 100%;
}

input, button, textarea, select{
  font: inherit;
}

p, h1,h2,h3,h4,h5,h6{
  overflow-wrap: break-word;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}